<!-- <po-table [p-items]="[{ table: 'PO Table', angular: 'PO-UI' }]"> </po-table> -->
<!-- <po-table [p-items]="[lembretes$ | async]"> </po-table> -->

<po-container [p-no-border]="true" class="po-page-list-operations">
  <div class="header-table">
    <po-input p-placeholder="Pesquise pelo Conteúdo" class="po-lg-6" name="input"> </po-input>
    <div class="">
      <po-button (p-click)="openModal()" p-label="Adicionar"> </po-button>
    </div>
  </div>
</po-container>

<po-table [p-items]="lembretes" [p-sort]="true" [p-columns]="columns"> </po-table>

<po-modal #modal p-title="PO Modal">
  <po-dynamic-form
    #dynamicForm
    p-auto-focus="name"
    [p-fields]="fields"
    [p-validate-fields]="validateFields"
    [p-value]="lembrete"


  >
  </po-dynamic-form>

  <po-modal-footer>
    <po-button [p-danger]="true" (p-click)="closeModal()" p-label="Cancelar"> </po-button>
    <po-button p-label="Salvar" [p-disabled]="dynamicForm?.form?.invalid ? true : false"
      (p-click)="poNotification.success('Data saved successfully!'); salvarLembrete();">
    </po-button>

  </po-modal-footer>


</po-modal>
