<h1 style="margin-top: 15px;">Lembretes</h1>
<po-container [p-no-border]="true" class="po-page-list-operations">
  <div class="header-table">
    <po-input p-placeholder="Pesquise por qualquer campo" (p-change-model)="filtro()" [formControl]="conteudoInput"
       class="po-lg-6"></po-input>
    <div class="">
      <po-button (p-click)="openModal()" p-label="Adicionar"> </po-button>
    </div>
  </div>
</po-container>

<po-table
  (p-show-more)="verMais()"
  [p-items]="lembretes"
  [p-sort]="true"
  [p-columns]="columns"
  [p-show-more-disabled]="semLembretes"
>

</po-table>

<po-modal #modalCriar p-title="Criar Lembrete">
  <po-dynamic-form
    #formCriar
    p-auto-focus="name"
    [p-fields]="fieldsCreate"
    [p-validate-fields]="validateFields"
    [p-value]="lembrete"


  >
  </po-dynamic-form>

  <po-modal-footer>
    <po-button [p-danger]="true" (p-click)="closeModal()" p-label="Cancelar"> </po-button>
    <po-button p-label="Salvar" [p-disabled]="formCriar?.form?.invalid ? true : false"
      (p-click)="salvarLembrete();">
    </po-button>

  </po-modal-footer>


</po-modal>

<po-modal #modalEditar p-title="Atulizar Lembrete">
  <po-dynamic-form
    #formEditar
    p-auto-focus="name"
    [p-fields]="fieldsEdit"
    [p-validate-fields]="validateFields"
    [p-value]="lembrete"


  >
  </po-dynamic-form>

  <po-modal-footer>
    <po-button [p-danger]="true" (p-click)="modalEditar.close()" p-label="Cancelar"> </po-button>
    <po-button p-label="Salvar" [p-disabled]="formEditar?.form?.invalid ? true : false"
      (p-click)="atualizarLembrete();">
    </po-button>

  </po-modal-footer>

</po-modal>
<po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
